<header id="main-header" class="header-one">
      <!-- menu start -->
      <nav id="menu-1" class="mega-menu" data-color="">
        <!-- menu list items container -->
        <div class="menu-list-items">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <!-- menu logo -->
                <ul class="menu-logo">
                  <li>
                    <a href="/"><img src="front/images/logo.png" alt="logo" class="img-fluid"></a>
                  </li>
                </ul>
                <!-- menu search bar -->
                <ul class="menu-search-bar">
                  <li class="menu-contact iq-fw-5"><a href="tel:0123456789" ><i class="fas fa-phone pr-1 "></i> +998946140194</a></li>
                </ul>
                <!-- menu links -->
                <ul class="menu-links">
                  <!-- active class -->
                  <li >
                    <a href="/" {{#if active}}
                        class="active"
                    {{/if}}>ГЛАВНАЯ СТРАНИЦА</a>
                    <!-- drop down multilevel  -->
                  </li>
                  {{!-- <li>
                    <a href="/about" {{#if about}}
                        class="active"
                    {{/if}}>О НАС</a>
                    <!-- drop down full width -->

                  </li> --}}
                  <li>
                   {{!-- <a href="/portfolio" {{#if portfolio}}
                        class="active"
                    {{/if}}>ПОРТФОЛИО</a> --}}
                    <!-- drop down full width -->
               
                  </li>
                 
                  <li><a href="/contact">СВЯЖИТЕСЬ С НАМИ</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <!-- menu end -->
    </header>