   <section class="iq-breadcrumb">
      
      <div class="iq-breadcrumb-info">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-7 align-self-center">
              <h2 class="iq-fw-8 mb-3">Связаться с нами</h2>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Главная страница</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Связаться с нами</li>
                </ol>
              </nav>
            </div>
            <div class="col-md-5">
              <img src="front/images/breadcrumb/contact-us.png" class="img-fluid" alt="image">
            </div>
          </div>
        </div>
      </div>
      <div class="iq-breadcrumb-img">
        <img src="front/images/breadcrumb/02.png" class="img-fluid breadcrumb-two" alt="image">
      </div>
    </section>
  
  <div class="main-content">
      
      <section class="iq-contact-us pb-0">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
                  
                <form action="/contact?_csrf={{csrf}}" method="post" >
                    <input type="hidden" name="_csrf" value="{{csrf}}">
              <div class="section-title mb-4">
                <h2 class="title iq-fw-8">Отправить свои Контакты</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="project-form mb-3">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input type="text" class="form-control contact-first-name" name="name"  placeholder="Имя">
                      
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control contact-phone" name="phone"  placeholder="Номер телефона">
                      
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control contact-email" name="email"  placeholder="Электронная почта">
                      
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <textarea class="form-control contact-message" name="text" placeholder="Введите Ваше требование" ></textarea>
                      
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="col-lg-12">
              <a >
                {{!-- <div class="first">Submit</div>
                <div class="second">Submit</div> --}}
                <button type="submit" class="slide-button button contact-us-button first" >Отправить</button>
              </a>
              
            </div>

                  </form>
          </div>
          
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 ">
              <div class="row">
                <div class="col-lg-6">
                  
                  <h2 class="title iq-fw-8">Связаться</h2>
                  <p>Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor.</p>
                  
                  <div class="iq-address mt-3">
                    <div class="media ">
                      
                      <div class="mr-3 contact-icon float-left"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                      <div class="media-body">
                        
                        <p>Юнусабадский район<br><span class="iq-fw-5"> 2Б Ahmad Donish ko'chasi, Тошкент 100037 </span></p>
                      </div>
                    </div>
                    <div class="media ">
                      
                      <div class="mr-3 contact-icon float-left"><i class="fas fa-envelope "></i> </div>
                      <div class="media-body">
                        
                        <p class="iq-fw-5" >nodirbekmarasulo1g@mail.com</p>
                      </div>
                    </div>
                    <div class="media ">
                      <div class="mr-3 contact-icon float-left"><i class="fa fa-phone" ></i> </div>
                      
                      <div class="media-body">
                        
                        <p class="iq-fw-5">+998946140194</p>
                      </div>
                    </div>
                    <div class="social-media mt-4 ">
                      <ul class="social">
                        <li><a href="#"><i class="fab fa-facebook-f "></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter "></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                {{!-- <div class="col-lg-6">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11977.277998372128!2d69.29296742512015!3d41.36714269459468!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38aef33583720a2b%3A0x73201d38ca481045!2sMEGA%20PLANET!5e0!3m2!1sru!2s!4v1666689183435!5m2!1sru!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div> --}}
              </div>
            </div>
          </div>
        </div>
      </section>
      
      
      
      
      
    </div>