<section class="iq-breadcrumb">

         <div class="iq-breadcrumb-info">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12 col-md-7 align-self-center">
                     <h2 class="iq-fw-8 mb-3">Детали обслуживания</h2>
                     <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                           <li class="breadcrumb-item"><a href="index.html">Главная страница</a></li>
                           <li class="breadcrumb-item active" aria-current="page">Детали обслуживания</li>
                        </ol>
                     </nav>
                  </div>
                  <div class="col-md-5">
                     <img src="front/images/breadcrumb/service.png" class="img-fluid" alt="image">
                  </div>
               </div>
            </div>
         </div>
         <div class="iq-breadcrumb-img">
        <img src="front/images/breadcrumb/02.png" class="img-fluid breadcrumb-two" alt="image">
      </div>
      </section>
      <!-- Breadcrumb END -->
      <div class="main-content">
         <div class="overview-block-ptb">
         <!-- Services  -->
         <div class="iq-Services-detail  position-relative pt-0">
            <div class="container">
               <div class="row flex-row-reverse  ">
                  <div class="col-lg-6 align-self-center col-sm-12 wow fadeInRight">
                     <h2 class="mb-2 iq-fw-8">Агентство по развитию СМИ</h2>
                     <p class="">Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,Lorem Ipsum.lorem quis bibendum auctor.</p>
                     <ul class="listing-mark">
                                <li>Simply dummy text of the Lorem Ipsum is printing.</li>
                                <li>Dummy text of the printing and typesetting industry.</li>
                                <li>Text of the printing and typesetting industry.</li>
                                <li>Ipsum has been the industry's standard dummy. </li>
                            </ul>
                     </div>
                   <div class="col-lg-6 col-sm-12"><img src="front/images/others/2.jpg" class="img-fluid wow fadeInLeft" alt=""></div>
               </div>
            </div>
            <div class="scrollme">
               <img src="front/images/service/3.png"  class="img-fluid service-three animateme"
                  data-when="enter"
                  data-from="0.5"
                  data-to="0"
                  data-translatex="100" alt="image">
            </div>
         </div>
      </div>
         <!-- Services END -->
         <section class="position-relative best-services pt-0">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6  align-self-center wow fadeInLeft">
                     <h2 class="mb-2 iq-fw-8">Агентство по развитию социальных сетей</h2>
                     <p class="">Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,Lorem Ipsum.lorem quis bibendum auctor.</p>
                      <p class="">Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,Lorem Ipsum.lorem quis bibendum auctor.</p>
                  </div>
                  <div class="col-lg-6">
                     <img src="front/images/others/1.jpg" class="img-fluid wow fadeInRight" alt="image">
                  </div>
               </div>
            </div>
            <div class="scrollme">
               <img src="front/images/service/1.png"  class="img-fluid service-one animateme"
                  data-when="enter"
                  data-from="0.5"
                  data-to="0"
                  data-translatey="500" alt="image">
            </div>
         </section>
         <!-- Works -->
         <section class="iq-works position-relative pt-0">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12 text-center">
                     <div class="section-title">
                        <p class="mb-0 text-uppercase iq-fw-5 iq-ls-2">Лучшие в мире услуги</p>
                        <h2 class="title iq-fw-8">Лучшие услуги</h2>
                     </div>
                  </div>
               </div>
           <div class="row">
            <div class="col-lg-6">
              <div class="services purple">
                <div class="services-info">
                  <div class="service-shap purple"><i class="ion-ios-cloud-download-outline"></i></div>
                  <h5 class="float-left mt-4">Анализ данных</h5>
                  <div class="clearfix"></div>
                  <p class="mt-3 mb-0">Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.</p>
                </div>
                <a href="/service" class="button-info">Подробнее <span class="float-right">. . .</span></a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="services purple">
                <div class="services-info">
                  <div class="service-shap purple"><i class="ion-ios-bookmarks-outline"></i></div>
                  <h5 class="float-left mt-4">Маркетинг PPC</h5>
                  <div class="clearfix"></div>
                  <p class="mt-3 mb-0">Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.</p>
                </div>
                <a href="/service" class="button-info">Подробнее <span class="float-right">. . .</span></a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="services purple mb-lg-0">
                <div class="services-info">
                  <div class="service-shap purple"><i class="ion-ios-pie-outline"></i></div>
                  <h5 class="float-left mt-4">Бизнес-аналитика</h5>
                  <div class="clearfix"></div>
                  <p class="mt-3 mb-0">Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.</p>
                </div>
                <a href="/service" class="button-info">Подробнее <span class="float-right">. . .</span></a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="services purple mb-lg-0">
                <div class="services-info">
                  <div class="service-shap purple"><i class="ion-ios-world-outline"></i></div>
                  <h5 class="float-left mt-4">Маркетинг в социальных сетях</h5>
                  <div class="clearfix"></div>
                  <p class="mt-3 mb-0">Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.</p>
                </div>
                <a href="/service" class="button-info">Подробнее <span class="float-right">. . .</span></a>
              </div>
            </div>
          </div>
            </div>
            <div class="scrollme">
               <img src="front/images/service/3.png"  class="img-fluid service-three animateme"
                  data-when="enter"
                  data-from="0.5"
                  data-to="0"
                  data-translatex="100" alt="image">
            </div>
         </section>
         <!-- Works End -->
         <!-- Our Clients -->
       
         <!-- Our Clients END -->
      </div>