 <section class="iq-breadcrumb">
         <div class="iq-breadcrumb-info">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12 col-md-7 align-self-center">
                     <h2 class="iq-fw-8 mb-3">Команда</h2>
                     <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                           <li class="breadcrumb-item"><a href="/">Главная страница</a></li>
                           <li class="breadcrumb-item active">Команда</li>
                        </ol>
                     </nav>
                  </div>
                  <div class="col-md-5">
                     <img src="front/images/breadcrumb/team.png" class="img-fluid" alt="image">
                  </div>
               </div>
            </div>
         </div>
         <div class="iq-breadcrumb-img">
        <img src="front/images/breadcrumb/02.png" class="img-fluid breadcrumb-two" alt="image">
      </div>
      </section>
      <!-- Breadcrumb END -->
      <!-- Main Content -->
      <div class="main-content">
         <section>
            <div class="container">
               <div class="row">
                  <div class="col-lg-3 col-md-6">
                     <div class="team-box mb-4">
                        <div class="team-img text-center">
                           <img src="front/images/team/01.jpg" class="img-fluid rounded-circle" alt="image">
                        </div>
                        <div class="team-detail">
                           <a class="team-plus" href="javascript:void(0)"><i class="fas fa-plus"></i></a>
                           <div class="team-info">
                              <h6 class="mb-0"><a href="team-detail.html">Larry Page</a></h6>
                              <span class="mb-0 text-gray iq-fw-4">Web Designer</span>
                           </div>
                        </div>
                        <div class="team-hover">
                           <p>Progravida nibh vel velit auctor alinean sollicitudin nisi elit consequat ipsum.</p>
                           <ul class="list-inline">
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a></li>
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                     <div class="team-box mb-4">
                        <div class="team-img text-center">
                           <img src="front/images/team/02.jpg" class="img-fluid rounded-circle" alt="image">
                        </div>
                        <div class="team-detail">
                           <a class="team-plus" href="javascript:void(0)"><i class="fas fa-plus"></i></a>
                           <div class="team-info">
                              <h6 class="mb-0"><a href="team-detail.html">Kips Leo</a></h6>
                              <span class="mb-0 text-gray iq-fw-4">Web Designer</span>
                           </div>
                        </div>
                        <div class="team-hover">
                           <p>Progravida nibh vel velit auctor alinean sollicitudin nisi elit consequat ipsum.</p>
                           <ul class="list-inline">
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a></li>
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                     <div class="team-box mb-4">
                        <div class="team-img text-center">
                           <img src="front/images/team/03.jpg" class="img-fluid rounded-circle" alt="image">
                        </div>
                        <div class="team-detail">
                           <a class="team-plus" href="javascript:void(0)"><i class="fas fa-plus"></i></a>
                           <div class="team-info">
                              <h6 class="mb-0"><a href="team-detail.html">John Deo</a></h6>
                              <span class="mb-0 text-gray iq-fw-4">Web Designer</span>
                           </div>
                        </div>
                        <div class="team-hover">
                           <p>Progravida nibh vel velit auctor alinean sollicitudin nisi elit consequat ipsum.</p>
                           <ul class="list-inline">
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a></li>
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                     <div class="team-box mb-4">
                        <div class="team-img text-center">
                           <img src="front/images/team/04.jpg" class="img-fluid rounded-circle" alt="image">
                        </div>
                        <div class="team-detail">
                           <a class="team-plus" href="javascript:void(0)"><i class="fas fa-plus"></i></a>
                           <div class="team-info">
                              <h6 class="mb-0"><a href="team-detail.html">Glen Jax</a></h6>
                              <span class="mb-0 text-gray iq-fw-4">Web Designer</span>
                           </div>
                        </div>
                        <div class="team-hover">
                           <p>Progravida nibh vel velit auctor alinean sollicitudin nisi elit consequat ipsum.</p>
                           <ul class="list-inline">
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a></li>
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                     <div class="team-box mb-4">
                        <div class="team-img text-center">
                           <img src="front/images/team/01.jpg" class="img-fluid rounded-circle" alt="image">
                        </div>
                        <div class="team-detail">
                           <a class="team-plus" href="javascript:void(0)"><i class="fas fa-plus"></i></a>
                           <div class="team-info">
                              <h6 class="mb-0"><a href="team-detail.html">Nik Jorden</a></h6>
                              <span class="mb-0 text-gray iq-fw-4">Web Designer</span>
                           </div>
                        </div>
                        <div class="team-hover">
                           <p>Progravida nibh vel velit auctor alinean sollicitudin nisi elit consequat ipsum.</p>
                           <ul class="list-inline">
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a></li>
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                     <div class="team-box mb-4">
                        <div class="team-img text-center">
                           <img src="front/images/team/02.jpg" class="img-fluid rounded-circle" alt="image">
                        </div>
                        <div class="team-detail">
                           <a class="team-plus" href="javascript:void(0)"><i class="fas fa-plus"></i></a>
                           <div class="team-info">
                              <h6 class="mb-0"><a href="team-detail.html">Kips Leo</a></h6>
                              <span class="mb-0 text-gray iq-fw-4">Kpis Leo</span>
                           </div>
                        </div>
                        <div class="team-hover">
                           <p>Progravida nibh vel velit auctor alinean sollicitudin nisi elit consequat ipsum.</p>
                           <ul class="list-inline">
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a></li>
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                     <div class="team-box mb-4">
                        <div class="team-img text-center">
                           <img src="front/images/team/03.jpg" class="img-fluid rounded-circle" alt="image">
                        </div>
                        <div class="team-detail">
                           <a class="team-plus" href="javascript:void(0)"><i class="fas fa-plus"></i></a>
                           <div class="team-info">
                              <h6 class="mb-0"><a href="team-detail.html">John Deo</a></h6>
                              <span class="mb-0 text-gray iq-fw-4">Web Designer</span>
                           </div>
                        </div>
                        <div class="team-hover">
                           <p>Progravida nibh vel velit auctor alinean sollicitudin nisi elit consequat ipsum.</p>
                           <ul class="list-inline">
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a></li>
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                     <div class="team-box mb-4">
                        <div class="team-img text-center">
                           <img src="front/images/team/04.jpg" class="img-fluid rounded-circle" alt="image">
                        </div>
                        <div class="team-detail">
                           <a class="team-plus" href="javascript:void(0)"><i class="fas fa-plus"></i></a>
                           <div class="team-info">
                              <h6 class="mb-0"><a href="team-detail.html">Larry Page</a></h6>
                              <span class="mb-0 text-gray iq-fw-4">Web Designer</span>
                           </div>
                        </div>
                        <div class="team-hover">
                           <p>Progravida nibh vel velit auctor alinean sollicitudin nisi elit consequat ipsum.</p>
                           <ul class="list-inline">
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a></li>
                              <li class="list-inline-item" ><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </div>