<div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-4">
        <div class="card login-box-container">
        <div class="card-body">
            <div class="authent-logo">
            <img src="/images/logo@2x.png" alt="" />
            </div>
            <div class="authent-text">
            <p>Панель администратора</p>
          
            </div>

            <form action="/users/login" method="post">
            <div class="mb-3">
                <div class="form-floating">
                    <input type="hidden" name="_csrf" value="{{csrf}}">
                <input
                    type="text"
                    name="login"
                    class="form-control"
                    id="floatingInput"
                    placeholder="Login"
                />
                <label for="floatingInput">Логин</label>
                </div>
            </div>
            <div class="mb-3">
                <div class="form-floating">
                <input
                    type="password"
                    name="password"
                    class="form-control"
                    id="floatingPassword"
                    placeholder="Password"
                />
                <label for="floatingPassword">Пароль</label>
                </div>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-info m-b-xs">Войти</button>
            </div>
            </form>
            {{!-- <div class="authent-reg">
            <p>Reristratsiyadan o'tmadingizmi? <a href="/users/reg">Account yaratish</a></p>
            </div> --}}
        </div>
        </div>
    </div>
</div>